.header {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #262626;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 1.5rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-white);
}

.desktopNav {
  display: none;
  align-items: center;
  gap: 2rem;
  padding: 1rem 0.6rem;
  border-radius: 1rem;
  
  @media (min-width: 768px) {
    display: flex;
  }
}

.navLink {
  color: var(--color-gray-300);
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 14px;
  font-weight: 600;
  background: none;
  border: none;
  cursor: pointer;
  
  &:hover {
    color: var(--color-white);
  }
}

.menuButton {
  display: block;
  background: none;
  border: none;
  color: var(--color-white);
  cursor: pointer;
  
  @media (min-width: 768px) {
    display: none;
  }
}

.mobileNav {
  display: block;
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid var(--color-gray-800);
  
  @media (min-width: 768px) {
    display: none;
  }
}

.mobileNavContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
}

.mobileNavLink {
  color: var(--color-gray-300);
  text-decoration: none;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
  
  &:hover {
    color: var(--color-white);
  }
}